* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* ============================= */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /* Canh giữa theo chiều ngang */
  align-items: center; /* Canh giữa theo chiều dọc */
  background-color: #f0f0f0; /* Thêm màu nền cho đẹp */
}

.container {
  width: 500px;
  height: 400px;
  border: 1px solid #80808040;
  padding-top: 20px;
  background-color: #fff; /* Màu nền cho form */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ */
  border-radius: 8px; /* Bo góc mềm mại */
  position: relative;
}

.title {
  font-size: 22px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.content {
  font-size: 19px;
  padding: 10px;
  padding-left: 16%;
}

.container-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form-title {
  font-size: 18px;
  padding: 10px;
}

.form-text {
  width: 350px;
  height: 30px;
  margin-left: 10px;
}

.form-code {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.form-code-1 {
  margin-top: 10px;
  width: 100px;
  height: 30px;
}

.btn-send {
  width: 80px;
  padding: 8px;
  position: absolute;
  bottom: 30px;
  right: 70px;
  font-size: 17px;
}

.btn-send:hover {
  cursor: pointer;
  background-color: cornsilk;
  color: blue;
}
